<!DOCTYPE HTML>
<html>

<head>
    
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <h1>LOG in PAGE</h1>git
    <div id="topHeaderOfWeb">

    </div>

    <div id="containerForLogIn">
        <table>
            <thead>
                
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" id="userName" placeholder="Username">
                    </td>
                    <td>
                        <input type="password" id="userPassword" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td><button id="logInButton">Log in</button></td>
                </tr>
                <tr>
                    <td><div id="isItTrueDiv"></div></td>
                </tr>
            </tbody>
        </table>
        <div id="isTheInputRight"></div>
    </div>
    <script src="javascript/index.js"></script>
</body>

</html>